body {
  background-color: aliceblue;
  max-width: 1440px;
  margin: auto;
}

.grid-header {
  margin: 0;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  padding-top: 91px;
  padding-bottom: 91px;
  padding-right: 51px;
  padding-left: 51px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}


.grid1-header-logo {
  width: 138px;
  justify-self: center;
}


.menu-style {
  list-style-type: circle;
  display: flex;
  font-size: 18px;
  
}

.menu-style li:first-child {
  list-style-type: none;
}

.menu-style li {
  padding-right: 30px;
  
}

.address-header {
  width: 240px;
  padding-top: 5px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover_dark.jpg);
  width: 1445px;
  height: 757px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 160px;
  padding-left: 55px;
  padding-right: 20px;
  margin: 0;
}

.grid-cover {
  display: flex;
  position: relative;
  width: auto;
  height: 520px;
  align-items: stretch;
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 114px;
  padding-right: 5px;
  justify-content: space-between;
}


.card-title-1 {
  display: flex;
  color: aliceblue;
  text-align: start;
  letter-spacing: 30px;
  word-spacing: -25px;
  align-self: flex-start;
  justify-content: flex-start;
  line-height: 115%;
}

.card-title-2 {
  display: flex;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  letter-spacing: 27px;
  word-spacing: -20px;
  padding-left: 35px;
  line-height: 110%;
}

.card-title-3 {
  display: flex;
  color: aliceblue;
  justify-content: flex-end;
  align-items: flex-end;
  letter-spacing: 30px;
  word-spacing: -20px;
  padding-bottom: 30px;
  line-height: 110%;
}

.footer-cover-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  padding-bottom: 50px;
  padding-right: 30px;
}

.cover-footer {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 22px;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  word-spacing: 18px;
  margin-right: 78px;
}

.cover-button {
  font-weight: 400;
  width: 257px;
  height: 52px;
  font-size: 22px;
  justify-content: center;
  text-transform: uppercase;
  background: transparent;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  border: 2px solid aliceblue;
}



.header-address {
  justify-self: end;
}


.lots {
  position: relative;
  width: 430px;
  height: 450px;
  margin: 0;
  padding: 180px 29px 0 79px;
  
}

.lots-head {
  margin-top: 180px;
  margin-bottom: 30px;
  padding-left: 45px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-transform: uppercase;

  
}

.horizontal-lots-list {
  list-style: none;
  max-width: 1340px;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 29px;
}

.horizontal-lots-list-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 430px;
  min-height: 450px;
}

.lot1 {
  background-image: url("../images/card-lot-01_dark.jpg");
  background-position: center;
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lot2 {
  background-image: url("../images/card-lot-02_dark.jpg");
  background-position: center;
  background-size: cover;
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lot3 {
  background-image: url("../images/card-lot-03_dark.jpg");
  background-position: center;
  background-size: cover;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lots-header {
  margin: 0;
  position: absolute;
  top: 10px;
  color: aliceblue;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  max-width: 400px;
  padding-top: 38px;
  padding-right: 20px;
  line-height: 120%;
  font-weight: bold;
}

.lots-footer {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
  bottom: 52px;
  font-family: "Raleway", sans-serif;
  font-style:normal;
  max-width: 350px;
  justify-content: center;
  line-height: 120%;

}

.lots-bottom {
  padding-left: 92px;
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 40px;
}

.about {
  display: flex;
  position: relative;
  width: 1440px;
  height: 667px;
  padding-top: 180px;
  padding-right: 50px;
  padding-left: 51px;
  padding-bottom: 49px;
}

.about-box-around-logo {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
  width: 430px;
  height: 240px;
}

.about-auction {
  width: 885px;
  height: 340px;
  margin-left: auto;
  margin-top:auto;
  

}

.about-logo-footer {
  display: flex;
  width: 240px;
  height: 240px;
  background: black;
  border-radius: 60%;
}

.logo_circle_picture {
  width: 150px;
  height: 150px;
  margin: auto;
}

.about-auction-title {
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 100px;
}

.about-auction-text {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding-left: 2px;
  padding-bottom: 26px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 180px;
  padding-left: 50px;
  padding-right: 46px;
}

.menu-footer-list {
  font-size: 19px;
  list-style: none;
  justify-self: center;
}

.footer-menu-item {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.footer-menu-link {
  display: flex;
  justify-content: center;
}

.footer-menu-link:hover {
  display: flex;
  justify-content: center;
}

.address-footer {
  font-size: 19px;
  justify-self:start;
  padding-bottom: 30px;
}

.footer-references {
  list-style: none;
  display: flex;
  gap: 45px;
  justify-self: end;
  padding-right: 3px;
}

.footer-ut-icon {
  width: 50px;
  height: 50px;
}

.footer-pinterest-icon {
  width: 50px;
  height: 50px;
}

.footer-VK-icon {
  width: 50px;
  height: 50px;
}
