.grid-header {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  padding-top: 91px;
  padding-bottom: 91px;
  padding-right: 51px;
  padding-left: 51px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.grid1-header-logo {
  width: 138px;
  justify-self: center;
}

.menu-style {
  list-style-type: circle;
  display: flex;
  font-size: 18px;
}

.menu-style li:first-child {
  list-style-type: none;
}

.menu-style li {
  margin-right: 30px;
}

.address-header {
  max-width: 240px;
  padding-top: 5px;
  justify-self: end;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover_dark.jpg);
  max-width: 1440px;
  height: 757px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  justify-content: space-between;
}

.header-cover {
  display: flex;
  position: relative;
  width: auto;
  height: 360px;
  align-items: stretch;
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
}

.card-title {
  display: flex;
  line-height: 110%;
  letter-spacing: 30px;
}

.card-title-zero-spacing {
  letter-spacing: 0px;
}

.card-title-wide-spacing {
  letter-spacing: 60px;
}

.card-title-1 {
  text-align: start;
  align-self: flex-start;
  justify-content: flex-start;
  line-height: 115%;
}

.card-title-2 {
  justify-content: center;
  align-items: center;
}

.card-title-3 {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: left;
}

.footer-cover-button {
  display: flex;
  position: relative;
  align-self: flex-end;
  justify-content: end;
  margin-bottom: 50px;
  color: #FFF;
}

.cover-footer {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  word-spacing: 18px;
  margin-right: 78px;
}

.cover-button {
  font-weight: 400;
  width: 257px;
  height: 52px;
  font-size: 22px;
  justify-content: center;
  text-transform: uppercase;
  background: transparent;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  border: 1px solid currentColor;
  line-height: normal;
}

.section-lots {
  display: flex;
  flex-direction: column;
}

.section-lots-head {
  margin-top: 180px;
  margin-bottom: 30px;
  padding-left: 90px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.horizontal-lots-list {
  display: flex;
  align-self: center;
  list-style: none;
  max-width: 1340px;
  justify-content: space-between;
  margin-bottom: 33px;
  flex-wrap: wrap;
  gap: 25px;
}

.horizontal-lots-list-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 430px;
  height: 450px;
}

.lots {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  padding: 40px 40px 50px 40px;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat
}

.lot1 {
  background-image: url("../images/card-lot-01_dark.jpg");
}

.lot2 {
  background-image: url("../images/card-lot-02_dark.jpg");
}

.lot3 {
  background-image: url("../images/card-lot-03_dark.jpg");
}

.lots-header {
  position: relative;
  top: 10px;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  max-width: 400px;
  line-height: 120%;
  font-weight: bold;
  color: #fff;
}

.lots-footer {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 120%;
  color: #fff;
}

.lots-bottom {
  padding-left: 92px;
  font-size: 20px;
}

.about {
  display: flex;
  position: relative;
  padding-top: 180px;
  padding-right: 50px;
  padding-left: 51px;
  padding-bottom: 49px;
}

.about-box-around-logo {
  display: flex;
  justify-content: center;
  width: 430px;
  height: 240px;
}

.about-auction {
  margin-left: 122px;
  padding-top: 100px;
}

.about-logo-footer {
  display: flex;
  width: 240px;
  background: black;
  border-radius: 50%;
  margin-left: 92px;
}

.logo_circle_picture {
  width: 150px;
  height: 150px;
  margin: auto;
}

.about-auction-title {
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 100px;
}

.about-auction-text {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding-left: 2px;
  padding-bottom: 26px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 102px;
  padding-left: 50px;
  padding-right: 46px;
  margin-bottom: 97px;
}

.menu-footer-list {
  font-size: 20px;
  list-style: none;
  justify-self: center;
}

.footer-menu-item {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.footer-menu-link {
  display: flex;
  justify-content: center;
}

.footer-menu-link:hover {
  display: flex;
  justify-content: center;
}

.address-footer {
  font-size: 18px;
  justify-self: start;
  padding-bottom: 30px;
}
.footer-address-link {
  text-decoration: underline;
  text-underline-position: under;
}
.footer-adress-no-under {
  text-decoration: none;
}

.footer-references {
  list-style: none;
  display: flex;
  gap: 45px;
  justify-self: end;
  padding-right: 3px;
}

.footer-references-item {
  width: 50px;
  height: 50px;
}
